USE [master]
GO
/****** Object:  Database [WorldCoffeeDB]    Script Date: 02/05/2026 0:17:36 ******/
CREATE DATABASE [WorldCoffeeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WorldCoffeeDB', SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WorldCoffeeDB_log', SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WorldCoffeeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [WorldCoffeeDB] SET QUERY_STORE (
    OPERATION_MODE = READ_WRITE, 
    CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), 
    MAX_STORAGE_SIZE_MB = 1000,
    QUERY_CAPTURE_MODE = AUTO
)
GO
USE [WorldCoffeeDB]
GO
/****** Object:  Schema [cafe]    Script Date: 02/05/2026 0:17:37 ******/
CREATE SCHEMA [cafe]
GO
/****** Object:  Schema [maestra]    Script Date: 02/05/2026 0:17:37 ******/
CREATE SCHEMA [maestra]
GO
/****** Object:  Schema [origen]    Script Date: 02/05/2026 0:17:37 ******/
CREATE SCHEMA [origen]
GO
/****** Object:  Table [cafe].[LoteCafe]    Script Date: 02/05/2026 0:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cafe].[LoteCafe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[NotasCata] [nvarchar](300) NULL,
	[AltitudMin] [int] NOT NULL,
	[AltitudMax] [int] NOT NULL,
	[RegionId] [int] NOT NULL,
	[ProductorId] [int] NOT NULL,
	[ProcesoId] [int] NOT NULL,
	[VariedadId] [int] NOT NULL,
	[TuesteId] [int] NOT NULL,
	[AltitudMedia]  AS (([AltitudMin]+[AltitudMax])/(2.0)),
	[DescripcionExtendida] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [cafe].[SCA]    Script Date: 02/05/2026 0:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cafe].[SCA](
	[LoteCafeId] [int] NOT NULL,
	[Acidez] [decimal](4, 2) NOT NULL,
	[Cuerpo] [decimal](4, 2) NOT NULL,
	[Dulzor] [decimal](4, 2) NOT NULL,
	[Aroma] [decimal](4, 2) NOT NULL,
	[Retrogusto] [decimal](4, 2) NOT NULL,
	[Balance] [decimal](4, 2) NOT NULL,
	[PuntuacionSCA]  AS (CONVERT([decimal](4,2),round(((((([Acidez]+[Cuerpo])+[Dulzor])+[Aroma])+[Retrogusto])+[Balance])/(6.0),(2)))),
PRIMARY KEY CLUSTERED 
(
	[LoteCafeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 02/05/2026 0:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [maestra].[Proceso]    Script Date: 02/05/2026 0:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [maestra].[Proceso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [maestra].[Tueste]    Script Date: 02/05/2026 0:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [maestra].[Tueste](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [maestra].[Variedad]    Script Date: 02/05/2026 0:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [maestra].[Variedad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Especie] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [origen].[Pais]    Script Date: 02/05/2026 0:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [origen].[Pais](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[CodigoISO] [char](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [origen].[Productor]    Script Date: 02/05/2026 0:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [origen].[Productor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[DescripcionBreve] [nvarchar](500) NULL,
	[TipoProductorId] [int] NOT NULL,
 CONSTRAINT [PK__Producto__3214EC07AF63A22D] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [origen].[Region]    Script Date: 02/05/2026 0:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [origen].[Region](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[PaisId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [origen].[TipoProductor]    Script Date: 02/05/2026 0:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [origen].[TipoProductor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [cafe].[LoteCafe] ON 

SET IDENTITY_INSERT [cafe].[LoteCafe] OFF
GO
INSERT [cafe].[SCA] ([LoteCafeId], [Acidez], [Cuerpo], [Dulzor], [Aroma], [Retrogusto], [Balance]) VALUES (1, CAST(92.00 AS Decimal(4, 2)), CAST(88.00 AS Decimal(4, 2)), CAST(90.00 AS Decimal(4, 2)), CAST(92.00 AS Decimal(4, 2)), CAST(90.00 AS Decimal(4, 2)), CAST(91.00 AS Decimal(4, 2)))
INSERT [cafe].[SCA] ([LoteCafeId], [Acidez], [Cuerpo], [Dulzor], [Aroma], [Retrogusto], [Balance]) VALUES (2, CAST(90.00 AS Decimal(4, 2)), CAST(88.00 AS Decimal(4, 2)), CAST(92.00 AS Decimal(4, 2)), CAST(91.00 AS Decimal(4, 2)), CAST(90.00 AS Decimal(4, 2)), CAST(91.00 AS Decimal(4, 2)))
INSERT [cafe].[SCA] ([LoteCafeId], [Acidez], [Cuerpo], [Dulzor], [Aroma], [Retrogusto], [Balance]) VALUES (3, CAST(87.00 AS Decimal(4, 2)), CAST(82.00 AS Decimal(4, 2)), CAST(88.00 AS Decimal(4, 2)), CAST(88.00 AS Decimal(4, 2)), CAST(86.00 AS Decimal(4, 2)), CAST(87.00 AS Decimal(4, 2)))
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260329152947_InitialMigration', N'8.0.25')
GO
SET IDENTITY_INSERT [maestra].[Proceso] ON 

INSERT [maestra].[Proceso] ([Id], [Nombre], [Descripcion]) VALUES (1, N'Lavado', N'Proceso donde la pulpa se elimina antes del secado, produciendo cafés limpios y con acidez brillante.')
INSERT [maestra].[Proceso] ([Id], [Nombre], [Descripcion]) VALUES (2, N'Natural', N'Proceso donde el café se seca con la pulpa intacta, generando perfiles más dulces y afrutados.')
INSERT [maestra].[Proceso] ([Id], [Nombre], [Descripcion]) VALUES (3, N'Honey', N'Proceso intermedio donde parte del mucílago se mantiene durante el secado, aportando dulzor y cuerpo.')
SET IDENTITY_INSERT [maestra].[Proceso] OFF
GO
SET IDENTITY_INSERT [maestra].[Tueste] ON 

INSERT [maestra].[Tueste] ([Id], [Nombre], [Descripcion]) VALUES (1, N'Claro', N'Tueste ligero que preserva las características originales del grano, destacando acidez y notas frutales.')
INSERT [maestra].[Tueste] ([Id], [Nombre], [Descripcion]) VALUES (2, N'Medio claro', N'Equilibrio entre acidez y dulzor, mantiene características de origen con mayor desarrollo de azúcares.')
INSERT [maestra].[Tueste] ([Id], [Nombre], [Descripcion]) VALUES (3, N'Medio', N'Tueste equilibrado que resalta dulzor, cuerpo y balance, con acidez moderada.')
SET IDENTITY_INSERT [maestra].[Tueste] OFF
GO
SET IDENTITY_INSERT [maestra].[Variedad] ON 

INSERT [maestra].[Variedad] ([Id], [Nombre], [Especie], [Descripcion]) VALUES (1, N'Typica', N'Arábica', N'Una de las variedades más antiguas, con perfil limpio, suave y balanceado. Muy extendida en América Latina.')
INSERT [maestra].[Variedad] ([Id], [Nombre], [Especie], [Descripcion]) VALUES (2, N'Bourbon', N'Arábica', N'Variedad tradicional conocida por su dulzor, equilibrio y cuerpo medio. Base genética de muchas otras variedades.')
INSERT [maestra].[Variedad] ([Id], [Nombre], [Especie], [Descripcion]) VALUES (3, N'Caturra', N'Arábica', N'Mutación del Bourbon, de menor tamaño y mayor productividad. Perfil brillante con buena acidez.')
SET IDENTITY_INSERT [maestra].[Variedad] OFF
GO
SET IDENTITY_INSERT [origen].[Pais] ON 

INSERT [origen].[Pais] ([Id], [Nombre], [CodigoISO]) VALUES (1, N'Perú', N'PE')
INSERT [origen].[Pais] ([Id], [Nombre], [CodigoISO]) VALUES (2, N'Colombia', N'CO')
INSERT [origen].[Pais] ([Id], [Nombre], [CodigoISO]) VALUES (3, N'Etiopía', N'ET')
SET IDENTITY_INSERT [origen].[Pais] OFF
GO
SET IDENTITY_INSERT [origen].[Productor] ON 

INSERT [origen].[Productor] ([Id], [Nombre], [DescripcionBreve], [TipoProductorId]) VALUES (1, N'Finca Miguel Padilla (Miguel Padilla Chinguel)', N'Finca familiar en Cajamarca enfocada en la producción de café de especialidad.', 1)
INSERT [origen].[Productor] ([Id], [Nombre], [DescripcionBreve], [TipoProductorId]) VALUES (2, N'Finca El Paraíso (Diego Bermúdez)', N'Finca colombiana reconocida por procesos experimentales e innovación en café de especialidad.', 1)
INSERT [origen].[Productor] ([Id], [Nombre], [DescripcionBreve], [TipoProductorId]) VALUES (3, N'Finca Corrego (Andreia Cunha Neves Careta)', N'Finca brasileña dedicada a la producción de café con enfoque en calidad y sostenibilidad.', 1)
SET IDENTITY_INSERT [origen].[Productor] OFF
GO
SET IDENTITY_INSERT [origen].[Region] ON 

INSERT [origen].[Region] ([Id], [Nombre], [PaisId]) VALUES (1, N'Cajamarca', 1)
INSERT [origen].[Region] ([Id], [Nombre], [PaisId]) VALUES (2, N'Huila', 2)
INSERT [origen].[Region] ([Id], [Nombre], [PaisId]) VALUES (3, N'Sidamo', 3)
SET IDENTITY_INSERT [origen].[Region] OFF
GO
SET IDENTITY_INSERT [origen].[TipoProductor] ON 

INSERT [origen].[TipoProductor] ([Id], [Tipo]) VALUES (1, N'Finca')
INSERT [origen].[TipoProductor] ([Id], [Tipo]) VALUES (2, N'Cooperativa')
INSERT [origen].[TipoProductor] ([Id], [Tipo]) VALUES (3, N'Compañía')
SET IDENTITY_INSERT [origen].[TipoProductor] OFF
GO
ALTER TABLE [cafe].[LoteCafe]  WITH CHECK ADD  CONSTRAINT [FK_LoteCafe_Proceso] FOREIGN KEY([ProcesoId])
REFERENCES [maestra].[Proceso] ([Id])
GO
ALTER TABLE [cafe].[LoteCafe] CHECK CONSTRAINT [FK_LoteCafe_Proceso]
GO
ALTER TABLE [cafe].[LoteCafe]  WITH CHECK ADD  CONSTRAINT [FK_LoteCafe_Productor] FOREIGN KEY([ProductorId])
REFERENCES [origen].[Productor] ([Id])
GO
ALTER TABLE [cafe].[LoteCafe] CHECK CONSTRAINT [FK_LoteCafe_Productor]
GO
ALTER TABLE [cafe].[LoteCafe]  WITH CHECK ADD  CONSTRAINT [FK_LoteCafe_Region] FOREIGN KEY([RegionId])
REFERENCES [origen].[Region] ([Id])
GO
ALTER TABLE [cafe].[LoteCafe] CHECK CONSTRAINT [FK_LoteCafe_Region]
GO
ALTER TABLE [cafe].[LoteCafe]  WITH CHECK ADD  CONSTRAINT [FK_LoteCafe_Tueste] FOREIGN KEY([TuesteId])
REFERENCES [maestra].[Tueste] ([Id])
GO
ALTER TABLE [cafe].[LoteCafe] CHECK CONSTRAINT [FK_LoteCafe_Tueste]
GO
ALTER TABLE [cafe].[LoteCafe]  WITH CHECK ADD  CONSTRAINT [FK_LoteCafe_Variedad] FOREIGN KEY([VariedadId])
REFERENCES [maestra].[Variedad] ([Id])
GO
ALTER TABLE [cafe].[LoteCafe] CHECK CONSTRAINT [FK_LoteCafe_Variedad]
GO
ALTER TABLE [cafe].[SCA]  WITH NOCHECK ADD  CONSTRAINT [FK_SCA_LoteCafe] FOREIGN KEY([LoteCafeId])
REFERENCES [cafe].[LoteCafe] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [cafe].[SCA] CHECK CONSTRAINT [FK_SCA_LoteCafe]
GO
ALTER TABLE [origen].[Productor]  WITH CHECK ADD  CONSTRAINT [FK_Productor_TipoProductor] FOREIGN KEY([TipoProductorId])
REFERENCES [origen].[TipoProductor] ([Id])
GO
ALTER TABLE [origen].[Productor] CHECK CONSTRAINT [FK_Productor_TipoProductor]
GO
ALTER TABLE [origen].[Region]  WITH CHECK ADD  CONSTRAINT [FK_Region_Pais] FOREIGN KEY([PaisId])
REFERENCES [origen].[Pais] ([Id])
GO
ALTER TABLE [origen].[Region] CHECK CONSTRAINT [FK_Region_Pais]
GO
USE [master]
GO
